@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600');

* {
  box-sizing: border-box
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.top-bar {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    background-color: white;

}

/*.side-bar {
  width: 160px;
  height: 100vh;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

*/
.navigation ul {
  padding: 20px;
  padding-right: 30px;
  text-align: right;
}


.navigation li {
  list-style: none;
}


.navigation li a {
  text-decoration: none;
  color: #333;
  display: row;
  padding: 0.6rem 0.3rem;
  font-weight: 400;
  transition: all ease-out 250ms;
  font-size: 20px;

}

.navigation li a:hover {
  color: lime;
}

.main-content {
  margin-left: 10px;
  margin-right: 10px;
}

section {
  background-color: white;
  height: 90vh;
  margin:0;
  padding:5.5rem 4rem;
}

section:first-of-type {
    padding: 0;
    margin: 0;
}

section:nth-of-type(2n) {
  background-color: #ccc;
}

section:last-of-type {
  height: 100vh;
}

h1 {
  color: #444;
  font-weight: 600;
}

.active {
  color: lime;
  font-weight: 600;
}

.side-bar {
  overflow: hidden;

}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  
}
